@{
    ViewData["Title"] = "Home Page";
}
<!-- Simple Textfield -->
<form action="#">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="sample1">
    <label class="mdl-textfield__label" for="sample1">Nome</label>
  </div>
  <!-- Slider with Starting Value -->
     <label class="mdl-textfield__label" for="sample1">Nome</label>
<input class="mdl-slider mdl-js-slider" type="range"
  min="0" max="100" value="25" tabindex="0">
</form>