@{
    ViewData["Title"] = "Home Page";
}
<!-- Simple Textfield -->
<form action="#">
<div id="selects" class="item">
  <label for="default_select">Tempo disponível</label>
<div class="nes-select">
  <select required="" id="default_select">
    <option value="" disabled="" selected="" hidden="">Selecione...</option>
    <option value="4">4 Minutos</option>
    <option value="8">8 Minutos</option>
    <option value="12">12 Minutos</option>
  </select>
</div>
</form>